@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.gallery-app {
    display: none;
    height: 100%;
    width: 100%;
    background: black;
    overflow: hidden;
}

.gallery-app-header {
    position: absolute;
    height: 9vh;
    width: 100%;
    background-color: black;
    text-align: center;
    line-height: 12.5vh;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vh;
}

.gallery-homescreen {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0vh;
}

.gallery-detailscreen {
    position: absolute;
    height: 100%;
    width: 100%;
    left: -30vh;
}
.gallery-postscreen {
    position: absolute;
    height: 100%;
    width: 100%;
    left: -30vh;
}

.gallery-images {
    position: absolute;
    width: 100%;    
    padding: 0 0.5vh;
    height: 45vh;
    top: 9vh;
    left: 0;
    right: 0;
    overflow-y: scroll;
}

.gallery-images::-webkit-scrollbar {
    display: none;
}

.thumbnail{
    width: 100%;
}

.gallery-image {
    cursor: pointer;
    display: inline-block;
    width: 50%;
    padding: 0.2vh;
    transition: all 0.3s;
}

.gallery-image:hover {
    filter: brightness(0.5);
}

.gallery-details {
    position: absolute;    
    height: 20vh;
    top: 20vh;
    width: 84%;
    margin: 0 auto;
    left: 0vh;
    right: 0;
}

.gallery-action-buttons {
    display: flex;
    justify-content: center;
    gap: 3vh;
    padding: 1vh;
}

.gallery-action-buttons > div {
    color: gray;
    transition: 0.3s;
    cursor: pointer;

    font-size: 1.7vh;
}

.gallery-action-buttons > div:hover {
    color: white;
}

#delete-button:hover {
    color: rgb(255, 78, 78);
}

#advert-button:hover {
    color: rgb(255, 233, 107);
}

#new-textarea {
    border: none;
    height: 12.5vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: rgb(5, 5, 5);
    color: white;
    outline: none;
    resize: none;
    font-family: 'Poppins', sans-serif;
    padding: 0.87vh;
    font-size: 1.4vh;
    top: 12vh;
    width: 100%;
}