@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.garage-app {
    display: none;
    height: 100%;
    width: 100%;
    background: rgb(5, 5, 5);
    overflow: hidden;
}

.garage-app-header {
    position: absolute;
    height: 9vh;
    width: 100%;
    text-align: center;
    line-height: 13.5vh;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vh;
    font-weight: bold;
}

.garage-homescreen {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0vh;
}

.garage-detailscreen {
    position: absolute;
    height: 100%;
    width: 100%;
    right: -30vh;
}

.garage-vehicles-wrapper {
    background-color: rgb(10, 10, 10);
    width: 100%;
    border-radius: 0.6rem;
    overflow: hidden;
}

.garage-vehicles {
    position: absolute;
    width: 85%;
    height: 41vh;
    top: 10.5vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.garage-vehicles::-webkit-scrollbar { /* WebKit */
    display: none;
}

.garage-vehicle {
    display: flex;
    align-items: center;

    gap: 1vh;

    width: 100%;
}

.garage-vehicle-firstletter {
    background-color: #ee5253;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8vh;
    transition: .05s linear;

    height: 2.75vh;
    width: 2.75vh;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.3vh;
}

.garage-vehicle-row {
    padding: 0.35rem 0.6rem; 
    display: flex; 
    align-items: center;
    transition: 0.3s;
}

.garage-vehicle-row:hover {
    color: white !important;
    cursor: pointer;
    background-color:#ee5253;
}

.garage-vehicle-row:hover .garage-vehicle-firstletter {
    background-color: rgb(10, 10, 10); 
}

.garage-vehicle-name {
    color: white;
    font-size: 1.3vh;
    font-family: 'Poppins', sans-serif;
}

.garage-cardetails {    
    position: absolute;
    width: 85%;
    height: 41vh;
    top: 10.5vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */

    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.garage-cardetails::-webkit-scrollbar { /* WebKit */
    display: none;
}

.garage-cardetails-wrapper {
    background-color: rgb(10, 10, 10);
    width: 100%;
    border-radius: 0.6rem;
}

.garage-cardetails-row {
    padding: 0.35rem 0.6rem;
    display: flex;
    align-items: center;
    transition: 0.3s;
    color: white;
}

.garage-cardetails-row > div {
    display: flex;
    align-items: center;
    gap: 0.5vh;
    width: 100%;
}

.garage-cardetails-icon {
    background-color: #ee5253;
    color: white;

    height: 2.75vh;
    width: 2.75vh;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    
    font-size: 1.3vh;
}

.vehicle-detail {
    font-size: 1.1vh;
}

.vehicle-answer {
    float: right;
    width: 100%;
    text-align: end;
    font-size: 1.2vh;
    font-weight: bold;
}

#return-button-garage {
    top: 5.6vh;
    position: absolute;
    z-index: 1;
    left: 2vh;

    cursor: pointer;
    color: white;

    height: 2.3vh;
    width: 2.3vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.switch-container {
    float: right;
    width: 100%;
    text-align: end;
    font-size: 1.2vh;
    font-weight: bold;
    justify-content: end;
}
