/* The switch - the box around the slider */
.switch {
    position: unset !important;
    right: unset;
    width: 3.6vh;
    height: 2.2vh;
    transform: translateX(0);
    top: unset;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3d3d3d;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.8vh;
    width: 1.8vh;
    left: 0.2vh;
    bottom: 0.2vh;
    background-color: white;
    -webkit-transition: .4s;
    transition: .3s;
}

input:checked + .slider {
    background-color: #73df78;
}

input:focus + .slider {
    box-shadow: unset !important;
}

input:checked + .slider:before {
    -webkit-transform: translateX(1.4vh);
    -ms-transform: translateX(1.4vh);
    transform: translateX(1.4vh);
}

/* Rounded sliders */
.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}

/*range*/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none; 
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 4px;

    background: linear-gradient(to right, rgb(0, 102, 255) 100%, #313131 0%);
  }
  
  /* Thumb: webkit */
  input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none; 
    height: 1.75vh;
    width: 1.75vh;
    background-color: white;
    border-radius: 50%;
    border: none;
  
    transition: .3s ease-in-out;
  }
  
  /* Thumb: Firefox */
  input[type="range"]::-moz-range-thumb {
    height: 1.75vh;
    width: 1.75vh;
    background-color: white;
    border-radius: 50%;
    border: none;
    
    transition: .3s ease-in-out;
  }
  
  .range {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    padding: 1vh 0;
    width: 100%;
  }
