@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.twitter-app {
    display: none;
    height: 100%;
    width: 100%;
    background: rgb(5, 5, 5);
    overflow: hidden;
}

.twitter-footer {
    position: absolute;
    bottom: 0vh;
    width: 100%;
    height: 7.5vh;
    background-color: rgb(7, 7, 7);
    display: flex;
    justify-content: space-between;
    padding: 0.5vh 3vh;
}

.twitter-footer-tab {
    text-align: center;
    color: gray;
    transition: .3s;
    cursor: pointer;
    width: 2.1vh;
    height: 2.1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.twitter-footer-tab:hover {}

.selected-twitter-footer-tab {
    color: white;
}

.twitter-app-header {
    position: relative;
    padding: 5vh 0 0 1.85vh;
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
}

.twitter-home-tab {
    display: block;
    position: absolute;
    height: 70%;
    width: 100%;
    top: 9.7vh;
    overflow: hidden;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    padding: 0 1vh;
}

.twitter-home-tab::-webkit-scrollbar {
    width: .7vh;
}

.twitter-home-tab::-webkit-scrollbar-thumb {
    background-color: #1DA1F2;
}

.twitter-home-tab::-webkit-scrollbar-track {
    background-color: transparent;
}

.twitter-mentions-tab {
    display: none;
    position: absolute;
    height: 75%;
    width: 100%;
    top: 12vh;
    overflow: hidden;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.twitter-mentions-tab::-webkit-scrollbar {
    width: .7vh;
}

.twitter-mentions-tab::-webkit-scrollbar-thumb {
    background-color: #1DA1F2;
}

.twitter-mentions-tab::-webkit-scrollbar-track {
    background-color: transparent;
}

.twitter-hashtags-tab {
    display: none;
    position: absolute;
    height: 75%;
    width: 100%;
    top: 12vh;
    overflow: hidden;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.twitter-hashtags-tab::-webkit-scrollbar {
    width: .7vh;
}

.twitter-hashtags-tab::-webkit-scrollbar-thumb {
    background-color: #1DA1F2;
}

.twitter-hashtags-tab::-webkit-scrollbar-track {
    background-color: transparent;
}

.twitter-tweet {
    position: relative;
    padding: 0.5vh 0;
    height: auto;
    width: 100%;
    color: white;
}

.twitter-tweet-hashtag {
    position: relative;
    height: auto;
    width: 100%;
    border-top: 2px solid rgba(20, 23, 26, 0.37);
    margin-bottom: 2.5vh;
}

.twitter-mentioned-tweet {
    position: relative;
    height: auto;
    width: 100%;
    border-top: 2px solid rgba(20, 23, 26, 0.37);
    margin-bottom: 2.5vh;
}

.twt-img {
    position: absolute;
    top: 0.5vh;
    left: 0.5vh;
}

.twt-img > img {
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
}

.image {
    border-radius: 0.5rem;     
    width: 19.5vh;
    position:relative; 
    z-index: 1; 
    height: auto; 

    left: 4vh;
    margin: 0;
    padding: 0;
}

.twitter-actions * {
    cursor: pointer;
}

.twitter-actions {
    padding-left: 4vh;

    display: flex;
    gap: 1vh;

    padding-top: 0.5vh;
}

.twitter-actions div {
    color: gray;
    transition: .3s linear;
    z-index: 100;
    pointer-events: all;

    font-size: 1.2vh;
}

.tweet-tweeter {
    padding-left: 4vh;
    top: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1vh;
}

.tweet-tweeter > span {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0vh;
    top: -.1vh;
    color: gray;
}

.tweet-message {
    padding-left: 4vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0vh;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.twitter-new-tweet {
    position: absolute;
    bottom: 9vh;
    right: 2.2vh;
    width: 4.5vh;
    height: 4.5vh;
    background-color: #1DA1F2;
    z-index: 101;
    border-radius: 50%;
    text-align: center;
    transition: .3s;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.twitter-new-tweet:hover {
    background-color: rgb(62, 179, 252);
}

.twitter-new-tweet > i {
    font-size: 1.5vh;
    color: white;
}

.twitter-new-tweet-tab {
    display: none;
    position: absolute;
    display: block;
    top: -100%;
    height: 100%;
    width: 100%;
    background: rgb(36, 36, 36);
    overflow: hidden;
    z-index: 105;
}

.twitter-new-tweet-header {
    position: relative;
    padding: 6vh 0 0 9vh;
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    color: white;
}

#tweet-new-message {
    position: absolute;
    border: none;
    height: 15vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: white;
    background-color: rgba(23, 23, 23, 90%);
    outline: none;
    border: 2px solid #1DA1F2;
    resize: none;
    font-family: 'Poppins', sans-serif;
    padding: 0.87vh;
    font-size: 1.4vh;
    top: 12vh;
    width: 22vh;
    border-radius: 7px;
    box-shadow: inset 0 0 2vh 0 rgba(0, 0, 0, 0.089);
}

#tweet-new-message::-webkit-scrollbar {
    display: none;
}

#tweet-new-message::placeholder {
    font-size: 1.4vh;
    font-family: 'Poppins', sans-serif;
}

#tweet-new-url{
    position: absolute;
    border: 2px solid #1DA1F2;
    height: 5vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: white;
    background: rgba(23, 23, 23, 90%);
    outline: none;
    resize: none;
    font-family: 'Poppins', sans-serif;
    padding: 0.87vh;
    font-size: 1.4vh;
    top: 30vh;
    width: 22vh;
    border-radius: 7px;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
}

#tweet-new-url::-webkit-scrollbar {
    display: none;
}

.twitter-new-tweet-buttons {
    position: absolute;
    bottom: 40px;
    width: 100%;
    height: 5vh;
    color: white;
}

.twitter-new-tweet-button {
    position: relative;
    float: left;
    width: 33%;
    height: 100%;
    text-align: center;
    line-height: 4.5vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vh;
    border-top: .3vh solid #6ab04c00;
    transition: .3s;
}

.twitter-new-tweet-button:hover {
    border-top: .3vh solid #1DA1F2;
}

.twitter-no-tweets {
    position: absolute;
    text-align: center;
    top: 4vh;
    width: 100%;
    font-size: 2vh;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.mentioned-tag {
    color: black;
    padding-bottom: .3vh;
    transition: .3s;
}

.hashtag-tag-text {
    color: black;
    padding-bottom: .3vh;
    transition: .3s;
}

.twitter-hashtag {
    position: relative;
    height: 7vh;
    width: 90%;
    top: 0px;
    border-radius: 7px;
    left: 15px;
    margin-bottom: 10px;
    background-color: rgb(27, 149, 224);;
    transition: all .3s ease 0s;
}

.twitter-hashtag-status{
    position: absolute;
    top: .8vh;
    left: 1vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1vh;
    color: white;
}

.twitter-hashtag-tag {
    position: absolute;
    top: 2.5vh;
    left: 1vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4vh;
    color: white;
}
.twitter-hashtag-messages {
    position: absolute;
    bottom: .8vh;
    left: 1vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1vh;
    color: white;
}
.twitter-hashtags {
    position: absolute;
    display: block;
    width: 100%;
}
.twitter-hashtag-tweets {
    display: none;
    position: absolute;
    top: 0;
    left: 30;
    width: 100%;
    height: 40vh;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
}

.twitter-hashtag-tweets::-webkit-scrollbar {
    width: .2vh;
}

.twitter-hashtag-tweets::-webkit-scrollbar-thumb {
    background-color: #1DA1F2;
}

.twitter-hashtag-tweets::-webkit-scrollbar-track {
    background-color: transparent;
}

.line-spacer {
    width: 100%;
    height: 1px;
    background-color: rgb(10, 10, 10);
}